<div class="dialog-container">
  <h1 mat-dialog-title>Confirm</h1>
  <div style="overflow: visible" mat-dialog-content>
    <div class="question-prompt">
      Are you sure you wish to delete car with name:
      <br/> {{car.name}}
    </div>
    <div>
      <img [src]="car.img_url" alt="car image" class="question-image"/>
    </div>
    <div>
      <div fxLayout fxLayoutAlign="center" mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="dialogRef.close(true)">Confirm</button>
        <button mat-button (click)="dialogRef.close(false)">Cancel</button>
      </div>
    </div>
  </div>
</div>
