<div class="mat-elevation-z8">
  <div class="example-container">
    <table [dataSource]="dataSource" aria-label="Elements" mat-table matSort>

      <!-- Image Column -->
      <ng-container matColumnDef="img_url" sticky>
        <th *matHeaderCellDef mat-header-cell>Image</th>
        <td *matCellDef="let car" mat-cell>
          <img [src]="car.img_url" alt="car image" class="car-image" draggable="false"/>
        </td>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Id</th>
        <td *matCellDef="let car" mat-cell>{{car.id}}</td>
      </ng-container>

      <!--Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
        <td *matCellDef="let car" mat-cell>{{car.name}}</td>
      </ng-container>

      <!--Name Column -->
      <ng-container matColumnDef="pricePerDay">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>PricePerDay</th>
        <td *matCellDef="let car" mat-cell>{{car.pricePerDay}}</td>
      </ng-container>

      <!--Name Column -->
      <ng-container matColumnDef="transmission">
        <th *matHeaderCellDef mat-header-cell mat-sort-header>Transmission</th>
        <td *matCellDef="let car" mat-cell>{{car.transmission}}</td>
      </ng-container>

      <ng-container matColumnDef="delete" stickyEnd>
        <th *matHeaderCellDef mat-header-cell></th>
        <td *matCellDef="let car" mat-cell>
          <button (click)="delete(car)" color="primary" mat-raised-button>Delete</button>
        </td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true;" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>

  <mat-paginator #paginator
                 [length]="dataSource?.cars.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[2, 3, 5, 10, 25]">
  </mat-paginator>
</div>


