.full-width-table {
  width: 100%;
}

.car-image {
  width: 100%;
}

/* Structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  overflow: auto;
  height: calc(100vh - 64px);
  /*position: absolute;;*/
}


mat-header-cell {
  display: flex !important;
  justify-content: center !important;
}

mat-cell {
  display: flex;
  justify-content: center;
}

body {
  overflow: hidden;
}

.mat-paginator-sticky {
  bottom: 0;
  position: sticky;
  z-index: 10;
}
