/* You can addCar global styles to this file, and also import other style files */
/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html,
body {
  height: 100%;
  margin: 0;
}

*:not(mat-icon) {
  font-family: "Comic Sans MS", cursive, sans-serif !important;
}

